body {
  margin: 0;
  background-color: #f5f6f7;
}

header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 60px;
  background-color: #fff;
}

main {
  width: 100vw;
  height: 100vh;
  padding-top: 60px;
}

li {
  list-style-type: none;
}

ul {
  padding-inline-start: 0;
  margin-top: 0;
}

h1 {

}

h2 {
  margin: 0;
  padding: 8px;
  border-bottom: 1px solid #c2c2c2;
}

input {
  height: 24px;
  width: 300px;
  border: 1px solid #c2c2c2;
  border-radius: 4px;
  color: #c2c2c2;
  padding: 6px;
}

#header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 12px;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

#root {
  height: 100%;
}

#base {
  height: 100%;
  padding: 12px;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

#card {
  border: 1px solid #c2c2c2;
  border-radius: 8px;
  margin-bottom: 12px;
  margin-right: 12px;
  width: 20%;
  flex-basis: auto;
  background-color: #fff;
}

#card>ul {
  padding: 8px;
}

#link {
  display: inline-block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#tmp {
  position: absolute;
  top: 0;
  left: 0;
}