body {
  margin: 0;
  background-color: #f5f6f7;
}

header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 60px;
  background-color: #fff;
  z-index: 1;
}

main {
  position: absolute;
  left: 0;
  top: 60px;
  width: 100vw;
  height: calc(100vh - 60px);
}

li {
  list-style-type: none;
}

ul {
  padding-inline-start: 0;
  margin-top: 0;
}

h1, h2, h3, p {
  color: #444444;
}

h2 {
  font-size: 14px;
}

input {
  height: 24px;
  width: 300px;
  border: 1px solid #c2c2c2;
  border-radius: 4px;
  color: #c2c2c2;
  padding: 6px;
}

#header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 12px;
  /* box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06); */
  border-bottom: 1px solid #c2c2c2;
}

.group {
  display: flex;
  align-items: center;
}

#icon {
  height: 24px;
  margin-right: 6px;
}

#header-logo {
  cursor: pointer;
}

#help {
  height: 20px;
  margin-left: 12px;
  cursor: pointer;
}

#root {
  height: 100%;
}

#base {
  height: 100%;
  padding: 12px;
  padding-bottom: 0;
  display: flex;
  flex-flow: column wrap;
}

.card {
  border: 1px solid #c2c2c2;
  border-radius: 8px;
  margin-bottom: 12px;
  margin-right: 12px;
  width: 24%;
  flex-basis: auto;
  background-color: #fff;
}

.card-body {
  padding: 8px;
}

.card-header {
  padding: 0 8px;
  border-bottom: 1px solid #c2c2c2;
}

#link {
  display: inline-block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -220px;
  margin-left: -150px;
  height: 440px;
  width: 300px;
  border: 1px solid #c2c2c2;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
  display: none;
}

#close {
  height: 16px;
  cursor: pointer;
}

#dialog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#tmp {
  position: absolute;
  top: 0;
  left: 0;
}
