body {
  margin: 0;
  background-color: #f5f6f7;
  font-family: sans;
}

header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 60px;
  background-color: #fff;
  z-index: 1;
}

main {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  padding-top: 60px;
}

li {
  list-style-type: none;
}

ul {
  padding-inline-start: 0;
  margin-top: 0;
}

h1, h2, h3, p {
  color: #444444;
}

h1 {
  font-size: 16px;
}

h2 {
  font-size: 14px;
}

input {
  height: 24px;
  width: 300px;
  border: 1px solid #c2c2c2;
  border-radius: 4px;
  color: #c2c2c2;
  padding: 0.5em;
}

#header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 1em;
  border-bottom: 1px solid #c2c2c2;
}

.group {
  display: flex;
  align-items: center;
}

#icon {
  height: 36px;
  margin-right: 1em;
}

#header-logo {
  cursor: pointer;
}

#help {
  height: 20px;
  margin-left: 1em;
  cursor: pointer;
}

#root {
  height: 100%;
}

#base {
  padding: 1em;
  padding-bottom: 0;
  column-count: 4;
  column-gap: 1em;
}

.card {
  border: 1px solid #c2c2c2;
  border-radius: 8px;
  display: inline-block;
  margin: 0 0 1em;
  width: 100%;
  background-color: #fff;
}

.card-body {
  padding: 0.66em;
}

.card-header {
  padding: 0 0.66em;
  border-bottom: 1px solid #c2c2c2;
}

#link {
  display: inline-block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 460px;
  width: 600px;
  border: 1px solid #c2c2c2;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
  display: none;
}

#close {
  height: 16px;
  cursor: pointer;
}

#dialog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#tmp {
  position: absolute;
  top: 0;
  left: 0;
}
